# =====================================
# Python
# =====================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# =====================================
# Virtual Environment
# =====================================
venv/
env/

# =====================================
# IDE
# =====================================
.vscode/
.idea/

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Jupyter
# =====================================
.ipynb_checkpoints/

# =====================================
# Model Checkpoints
# =====================================
models/

# =====================================
# Large Generated Saliency Maps
# =====================================
outputs/saliency_maps/

# =====================================
# Temporary Logs
# =====================================
*.log

